@charset "UTF-8";

.parent .home-main-slider-container{
	margin: 0px auto;
	position: relative;
	width: 3000px;
	height: 1000px;
}

.homeMainSliderContainer{
	display:inline-block;
}

.homeMainContentBottom{
	display:flex;
	align-items:center;
	justify-content:center;
}